.topSeconadryNavBar {
	display: flex;
	width: 100%;
	height: fit-content;
	justify-content: space-between;
	align-items: center;
	padding: 4px 0;
	border-bottom: 2px solid #F1F3F4;
}

.topSeconadryNavBar__header {
	display: flex;
	transition: all 100ms linear;
	cursor: pointer;
	width: 100px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.topSeconadryNavBar__header:hover {
	background-color: #F1F3F4;
}

.topSeconadryNavBar__footer>* {
	margin: 0px 20px 0px 0px !important;
}

.topSeconadryNavBar__footer__icon {
	width: 40px !important;
	height: 40px !important;
}